.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

input{
  background-color: white;
  color: #000000;
}

.popup-container {
  display: flex;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 630px;
  height: 330px;
  max-width: 95%;
  font-family: Arial, sans-serif;
}

.popup-left {
  background: linear-gradient(to bottom, #63a4ff, #83eaf1);
  width: 40%;
  padding: 20px;
  text-align: center;
  color: white;
}

.student-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin-bottom: 12px;
}

.student-name {
  font-size: 32px;
  margin: 0;
}

.student-role {
  font-size: 14px;
  margin-top: 5px;
}

.popup-right {
  width: 60%;
  padding: 20px;
}

.popup-right h3 {
  margin-top: 0;
  color: #1d4ed8;
  font-size: 18px;
  margin-bottom: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
  color: #000000;
}

.label {
  font-weight: 600;
  color: #555;
}

.popup-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.popup-actions button {
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.popup-actions button:hover {
  opacity: 0.9;
}

.popup-actions button:first-child {
  background-color: #3b82f6;
  color: white;
}

.popup-actions .delete-btn {
  background-color: #ef4444;
  color: white;
}

/* .popup-actions .close-btn {
  background-color: #9ca3af;
  color: white;
} */
