.list-container {
  /* margin: 5px; */
  padding: 20px;
  background-color: #f4f7fc;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.student-table th,
.student-table td {
  padding: 14px 16px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}

.student-table th {
  background-color: #eaf2fb;
  color: #007BFF;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.student-table tr:hover {
  background-color: #f1f9ff;
}


.clickable-row {
  cursor: pointer;
}
.clickable-row:hover {
  background-color: #f5f5f5;
}
