.add-student-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-student-popup {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.add-student-popup h2 {
  margin-bottom: 20px;
  color: #007BFF;
  text-align: center;
}

.add-student-form {
  display: flex;
  flex-direction: column;
}

.add-student-form label {
  margin-bottom: 15px;
  font-weight: 500;
}

.add-student-form input[type="text"],
.add-student-form input[type="email"],
.add-student-form input[type="date"],
.add-student-form input[type="number"],
.add-student-form input[type="file"] {
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #e3e3e3;
  color: #000;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-btn,
.cancel-btn {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn {
  background-color: #007BFF;
  color: white;
}

.cancel-btn {
  background-color: #ff4e4e;
  color: #ffffff;
}
