.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form h2 {
  text-align: center;
  color: #2e2e2e;
}

.auth-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.auth-form button {
  padding: 12px;
  font-size: 1rem;
  background-color: #7daee3; 
  color: #111; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background-color: #5a96d1; 
  color: #fff; 
}

.toggle-link {
  font-size: 0.9rem;
  color: #0066cc;
  cursor: pointer;
  text-align: center;
}




.auth-message {
  margin-top: 10px;
  padding: 12px 15px;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
}


.auth-message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1.5px solid #c3e6cb;
}


.auth-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1.5px solid #f5c6cb;
}
